body {
    background-color: #FCF5E5;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.dark-mode, .dark-mode-img {
    height: 30px;
    width: 60px;
}

button {
    background-color: #af9a88;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 19px;
    border: 3px solid #695c51;
}

.bottom-spacer {
    flex: 0 1 auto;
    width: 40px;
}

.top-header, .bottom-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-header {
    margin-top: 20px;
}

.bottom-header {
    margin-top: 10px;
}

.dark-mode {
    flex: 0 0 auto;
    margin-right: 10px;
    
}

.input {
    flex: 10 10 auto;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 19px;
    border-radius: 30px;
    height: 30px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.spacer {
    flex: 1 1 auto;
    width: 75px;
}

/* Class for <p> tags */
.content-paragraphs {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 19px;
    white-space: pre-wrap;
}

/* Class for dark-mode for textarea */
.dark-textarea {
    background-color: black;
    color: white;
}

/* Class for dark-mode for content divs */
.dark-content {
    color: white;
}

.content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}